extends layout
block content
 #banner.page-header
  .row
   .col-lg-6
    h1
     |Mekan 32
     small &nbsp; Isparta civarındaki mekanları keşfedin!
 .row
    .col-xs-12.col-sm-12
      .row.list-group
       .col-xs-12.list-group-item
         h4
          a(href='/Starbucks/') Starbucks
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
         span.badge.pull-right.badge-default 10km
         p.address Centrum Garden AVM
         p
            span.label.label-warning Dünya Kahveleri
            | &nbsp;
            span.label.label-warning Kekler
            | &nbsp;
            span.label.label-warning Pastalar
       .col-xs-12.col-sm-12
 .row
    .col-xs-12.col-sm-12
      .row.list-group
       .col-xs-12.list-group-item
         h4
          a(href='/abdulcanbaz_book_&_vintage_cafe') Abdülcanbaz Book & Vintage Cafe
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
         span.badge.pull-right.badge-default 5km
         p.address Modern Evler, 160. Cd. No:8, 32200 Isparta Merkez/Isparta
         p
            span.label.label-warning Dünya Kahveleri
            | &nbsp;
            span.label.label-warning Sicak Cikolatalar
            | &nbsp;
            span.label.label-warning Pastalar
       .col-xs-12.col-sm-12
 .row
    .col-xs-12.col-sm-12
      .row.list-group
       .col-xs-12.list-group-item
         h4
          a(href='/burc_firin/') Burç Fırın
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
         span.badge.pull-right.badge-default 5km
         p.address Modern Evler, Şht. Astsubay Yaşar Topçu Cd. No:127, 32200 Isparta Merkez/Isparta
         p
            span.label.label-warning Tatlılar
            | &nbsp;
            span.label.label-warning Kahvaltılar
            | &nbsp;
            span.label.label-warning Yemekler
       .col-xs-12.col-sm-12
 .row
    .col-xs-12.col-sm-12
      .row.list-group
       .col-xs-12.list-group-item
         h4
          a(href='/alacati_muhallebicisi/') Alaçatı Muhallebicisi
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty
         span.badge.pull-right.badge-default 5km
         p.address İyaş Market
         p
            span.label.label-warning Dünya Kahveleri
            | &nbsp;
            span.label.label-warning Muhallebiler
            | &nbsp;
            span.label.label-warning Pastalar
       .col-xs-12.col-sm-12
 .row
    .col-xs-12.col-sm-12
      .row.list-group
       .col-xs-12.list-group-item
         h4
          a(href='/gramafon_box_cafe/') Gramafon Box Cafe
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
         span.badge.pull-right.badge-default 7km
         p.address Kutlubey, Kutlubey MAH. 1004 Sok, Kafeler Caddesi No:9/a, 32100 Isparta Merkez/Isparta
         p
            span.label.label-warning Dünya Kahveleri
            | &nbsp;
            span.label.label-warning Tatlılar
            | &nbsp;
            span.label.label-warning Yemekler
       .col-xs-12.col-sm-12